{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5"></h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <pre>
                        
                    </pre>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                            <td>
                                {% for ro in role %}
                                    {% if (ro.id == user.id) and (ro.title == 'ROLE_ADMIN') %}
                                    <form action="{{ path('admin_users_remove_role_index', {'id': user.id}) }}" method="post">
                                        <button type="submit" class="btn btn-primary">Enlever Admin</button>
                                    </form>
                                        {% elseif (ro.id == user.id) and (ro.title == null) %}
                                        <form action="{{ path('admin_users_role_index', {'id': user.id}) }}" method="post">
                                            <button type="submit" class="btn btn-primary">Ajouter Admin</button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
