{% set url = path('ads_show', {slug: ad.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.title }}
            <small>Pas encore noté</small>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="{{ ad.coverImage }}" alt="Image de l'article">
        <div class="card-body">
            <div class="card-title">
                <h4>
                    <a href="{{ url }}">{{ ad.title }}</a>
                </h4>
            </div>
            <p class="card-text">{{ ad.introduction }}</p>
            <a href="{{ url }}" class="btn btn-secondary">Lire l'article</a>
        </div>
    </div>
</div>